<!-- <div class="dropdown">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Dropdown link
    </a>
  
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
    </ul>
  </div> -->
  <!-- <div class="dropdown">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Dropdown link
    </a>
  
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
    </ul>
  </div> -->
  <!-- Example single danger button -->
<!-- <div class="btn-group">
    <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      Action
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Separated link</a></li>
    </ul>
  </div> -->

  <div class="offcanvas offcanvas-start show text-bg-whit" tabindex="-1" id="offcanvasDark" aria-labelledby="offcanvasDarkLabel">
    <div class="offcanvas-header">
      <img src="../../assets/Logo.png" alt=" Logo">
      <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvasDark" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
     <ul>
        <li><img src="../../assets/grid alt.png" alt="grid">   Dashboard  </li>



        <li   routerLinkActive="bg-danger"> <img src="../../assets/shoping bag.png" alt="shoping"  class="py-2" >  product list</li>
        <div> 
            <li  class="mta" >
                <div  class="d-flex justify-content-between align-items-center " >
                    
                    <div>
                        <img src="../../assets/icon.png" alt="icon" >
                        orders
                    </div>
                        <p class="m-0 icon">3</p> 
                </div>
            
            </li>

        </div>
        <li>  <img src="../../assets/users.png" alt=" users" > customers</li>
     </ul>
    </div>
    <div class="">
     <ul>
            <li>   <img src="../../assets/earphone.png" alt="earphone" >    support </li>
        <li> <img src="../../assets/icon (1).png" alt="icon">   setting</li>
     </ul>

    </div>
  </div>

    
