
   <div class="container-fluid">
  <div class=" nav-content d-flex flex-column  justify-content-between col-auto      min-vh-100 " >
    
    <div class="logo mt-4 ">
        <a href="" class="text-white  text-center d-flex text-decoration-none ms-2  " role="button">
          <svg width="122" height="34" viewBox="0 0 122 34" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M76.4619 -0.000488281V11.3302H102.303L90.307 -0.000488281H76.4619Z" fill="#2AAA5E"/>
            <path d="M76.4619 11.3296V22.6603H121.278L109.29 11.3296H76.4619Z" fill="#222B55"/>
            <path d="M112.442 34.0001H84.2824C79.963 34.0001 76.4619 30.324 76.4619 25.7886V22.6694H100.446L112.442 34.0001Z" fill="#57C1DB"/>
            <path d="M100.446 22.6682H76.4619V11.3296H88.4504L100.446 22.6682Z" fill="#254596"/>
            <mask id="mask0_924_1232" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="-1" width="122" height="35">
            <path d="M121.279 -0.000488281H0V33.9995H121.279V-0.000488281Z" fill="white"/>
            </mask>
            <g mask="url(#mask0_924_1232)">
            <path d="M7.19156 22.1357V-0.000488281H0V22.2392C0 28.732 5.01666 33.9995 11.2003 33.9995H14.7923V26.4484H11.2989C9.03302 26.4484 7.19156 24.5148 7.19156 22.1357Z" fill="#222B55"/>
            <path d="M25.2126 26.4404V7.55065H29.7973C34.041 7.55065 37.489 11.1631 37.489 15.6269V18.3721C37.489 22.828 34.0486 26.4404 29.7973 26.4404H25.2126ZM18.0134 -0.000488281V33.9995H30.017C38.1104 33.9995 44.673 27.1088 44.673 18.6108V15.3882C44.673 6.89022 38.118 -0.000488281 30.0246 -0.000488281H18.021H18.0134Z" fill="#222B55"/>
            <path d="M70.8086 7.55065V-0.000488281H62.5334C54.4476 -0.000488281 47.885 6.89022 47.885 15.3882V18.6108C47.885 27.1088 54.4476 33.9995 62.5409 33.9995H70.8161V26.4484H62.7683C58.5246 26.4484 55.0841 22.8359 55.0841 18.38V15.6269C55.0841 11.1711 58.5246 7.5586 62.7683 7.5586H70.8161L70.8086 7.55065Z" fill="#222B55"/>
            </g>
            </svg>
        </a>
        <br class="text-white">
        <ul
            class="nav nav-pills flex-column mt-2 mt-sm-0 " id="menu" >



            <li class="nav-item">
                <a href="#" class="nav-link " aria-current="page" >
                    <img src="assets/icon.png" alt=" Dashboard"> <span class="d-none d-sm-inline ms-2">
                      Dashboard
                    </span>

                    
                    </a >
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link  " data-bs-toggle="collapse" aria-current="page" >

                <img src="assets/icon (1).png" alt="productList"> <span class=" d-none d-sm-inline ms-2">productList</span>
                </a>
       
            </li>
            <li class="nav-item ">
                <a href="#" class="nav-link  " data-bs-toggle="collapse" aria-current="page" >
                    <img src="assets/icon.png" alt="Orders"> <span class="d-none d-sm-inline ms-2">
                        Orders
                    </span>

                    
                    </a >
</li>  
            <li class="nav-item ">
                <a href="#" class="nav-link  " data-bs-toggle="collapse" aria-current="page" >
                  <i class="fa-solid fa-users"></i>
                    <!-- <img src="assets/icon.png" alt=""> -->
                     <span class="d-none d-sm-inline ms-2">
                        customers
                    </span>

                    
                    </a >
</li>  
         
        </ul>
        
        
    </div>
    <div class="bottom-list">

        <ul
            class="nav nav-pills flex-column mb-3 mt-2 mt-sm-0 " id="menu" >



            <li class="nav-item">
                <a href="#" class="nav-link  " data-bs-toggle="collapse" aria-current="page" >

                <img src="../../assets/earphone.png" alt="support"> <span class=" d-none d-sm-inline ms-2">support</span>
                </a>
       
            </li>
            <li class="nav-item ">
                <a href="#" class="nav-link  " data-bs-toggle="collapse" aria-current="page" >
                    <img src="../../assets/gear.png" alt=""> <span class=" d-none d-sm-inline ms-2">
                                settings
                    </span>
                    
                    
                    </a >
</li>      
        </ul>
      </div>
      
    </div>
  </div>
