// .text{
//     // border-radius: 20px;
//     // background-color: red;
//     // padding: 10px;
//     // margin: 50px;
//     position: absolute;
//     left: 20px;
// }
// .mta{
//     position: relative;
//     left: 20px;
// }
.icon{
    height: 40px;
    border-radius: 60%;
    background-color: red;
    padding: 8px;
    color: white;
    margin: 40px;
}