.nav-bar{
 background-color: #FFFFFF;

}
.title{
    background-color: #F0F1F3;
  
    
}
.dashboard{
    color: #5C59E8;
}
// .backGround{
//     background-color: #FFFFFF;
// }

.input{
    background-color: #F9F9FC;
}
.dag_drop{
    width: 800px;
    border: 5px  dotted  black;
    background-color: #F9F9FC;
    .file{
        opacity: 0;
        padding: 1rem;
        width: auto;
        height: 2rem;
       

    }
}
.button{
    background-color: #DEDEFA;
    color: #5C59E8;
    text-align: center;
}
.saveButton{
 background-color: #5C59E8;
 color: white;
}
.Placeholders{
    background-color: #FEEDEC ;
    color: #F04438;
}