<!-- <div class="container-fluid">
<div class="row flex-nowrap">
<div class="bg-dark col-auto  min-vh-100 d-flex flex-column justify-content-between ">
<div class="bg-dark p-2">
    
        <a href="d-flex text-decoration-none  d-none d-sm-inline  align-items-center text-white mt-1">
             <img src="../../assets/Logo.png" alt=" Logo">
        </a>
        <ul class="nav-item nav-pills flex-column mt-4">
            <li class="nav-item py-2 py-sm-0 ">
            <a href=" #" class="nav-link text-white" >
                <span><img src="../../assets/grid alt.png" alt="grid">   Dashboard  </span>  
            </a>
            </li>
           

            <li class="nav-item py-2 py-sm-0">
              <a href="#" class="nav-link text-white">
                <img src="../../assets/shoping bag.png" alt="img" >  product list
              </a>
            </li>
            <li class="nav-item py-2 py-sm-0">
                <a href="#" class="nav-link text-white">
                
                    
                        
                            <img src="../../assets/icon.png" alt="icon" >
                            orders
                        
                            <p class="m-0 icon">3</p> 
                 
                </a>
              </li>
              <li class="nav-link py-2 py-sm-0 ">
                <a href="#" class="nav-link text-white">
                  <img src="../../assets/users.png" alt=" users" >  customers
                </a>
              </li>
              <li class="nav-item py-2 py-sm-0">
              <a href="#" class="nav-link text-white ">
                <img src="../../assets/earphone.png" alt="earphone" >    support
              </a>
            </li>
            <li  class="nav-item py-2 py-sm-0">
                <a href="#" class="nav-link text-white ">
                    <img src="../../assets/icon (1).png" alt="icon" >   setting
                </a>
              </li>

        </ul>
</div>
</div>
  <div>
    <h2> helooooooooooooooooooo my appp</h2>
  </div>
</div>
</div> -->


 
