<!-- <p>product-page works!</p> -->
 
  <div class="container py-5 product">
    <div class="row " >
        <div>
            <h2>product</h2>
        </div>
        <div class="data py-1">
            <h3 class=" color" > Dashboard  </h3> 
            <h2>  >  product List </h2>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-primary me-md-2 button" type="button"> +  Add Product </button>
          </div>
    </div>
  </div>
       <div class="container">
          <div class="row">
            <div class="col-lg-6">
                <div class="input ">
                    <input type="text" class="form-control w-75 text py-1 "  [(ngModel)]="searchInput" placeholder=" &#xF002; search product" >
                    <h2>{{searchInput}}</h2>
                  </div>
            </div>        
               <div class="col-lg-6  py-1 ">
                 <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-light me-md-2" type="button">
                        <img src="../../assets/calendar alt.png" alt="calendar"> 
                          select Dates 
                        </button>
                    <button class="btn btn-light" type="button">
                         <img src="../../assets/icon (2).png" alt="Filter">
                          Filter
                        </button>
                  </div>
               </div>
          </div>
       </div>
       <!-- <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="table py-2 ">
                        <table class="table">
                            <tr class="table2">
                              <th>product <i class="fa fa-caret-down" style="font-size: 15px;display: inline;" aria-hidden="true"></i></th>
                              <th>sku</th>
                              <th>catagory</th>
                              <th>stock  <i class="fa fa-caret-down" style="font-size: 15px;display: inline;" aria-hidden="true"></i></th>
                              <th>price <i class="fa fa-caret-down" style="font-size: 15px;display: inline;" aria-hidden="true"></i></th>
                              <th>status <i class="fa fa-caret-down" style="font-size: 15px;display: inline;" aria-hidden="true"></i></th>
                              <th>Added <i class="fa fa-caret-down" style="font-size: 15px;display: inline;" aria-hidden="true"></i></th>
                              <th>Action</th>
                            </tr>
                            <div class="col-md-12 d-flex justify-content align-items-center">
                            <div>
                            <tr>
                              <td>Hande pouch</td>
                              <td>302012</td>
                              <td>Bag & pouch</td>
                              <td>10</td>
                              <td>$121.00</td>
                              <td>Low stock</td>
                              <td>29 Dec 2022</td>
                              <td>--------</td>
                            </tr>
                            <tr>
                              <td>smartwacmh E2</td>
                              <td>302011</td>
                              <td>Watch</td>
                              <td>204</td>
                              <td>$590.00</td>
                              <td>published</td>
                              <td>24 Dec 2022</td>
                              <td> ------</td>
                            </tr>
                            <tr>
                                <td>smartwacmh E1</td>
                                <td>302002</td>
                                <td>Watch</td>
                                <td>48</td>
                                <td>$125.00</td>
                                <td>Draft</td>
                                <td>12 Dec 2022</td>
                                <td> --------</td>
                            </tr>
                            <tr>
                                <td>Headphone G1 pro</td>
                                <td>301901</td>
                                <td>Audio</td>
                                <td>401</td>
                                <td>$348.00</td>
                                <td>published</td>
                                <td>21 Oct 2022</td>
                                <td> ------</td>
                              </tr>
                              <tr>
                                <td>Iphone x</td>
                                <td>301900</td>
                                <td>smart phone</td>
                                <td>120</td>
                                <td>$607.00</td>
                                <td>published</td>
                                <td>21 Oct 2022</td>
                                <td> ------</td>
                              </tr>
                              <tr>
                                <td>Puma Shoes</td>
                                <td>301881</td>
                                <td>Shoes</td>
                                <td>432</td>
                                <td>$234.00</td>
                                <td>published</td>
                                <td>21 Oct 2022</td>
                                <td> -------</td>
                              </tr>
                              <tr>
                                <td>Imc 2021</td>
                                <td>301643</td>
                                <td>PC Descktop</td>
                                <td>0</td>
                                <td>$760.00</td>
                                <td>Out of Stock</td>
                                <td>19 Sep 2022</td>
                                <td> ------</td>
                              </tr>
                              <tr>
                                <td>Nike Shoes</td>
                                <td>301600</td>
                                <td>Shoes</td>
                                <td>347</td>
                                <td>$400.00</td>
                                <td>published</td>
                                <td>19 Sep 2022</td>
                                <td> ------</td>
                              </tr>
                              <tr>
                                <td>Lego Car</td>
                                <td>301555</td>
                                <td>Toys</td>
                                <td>299</td>
                                <td>$812.00</td>
                                <td>published</td>
                                <td>19 Sep 2022</td>
                                <td> ------</td>
                              </tr>
                              <tr>
                                <td>Skincare Alia 1</td>
                                <td>301002</td>
                                <td>Beauty</td>
                                <td>38</td>
                                <td>$123.00</td>
                                <td>Draft</td>
                                <td>10 Aug 2022</td>
                                <td> ------</td>
                              </tr>
                             </div>
                            </div>
                          </table> -->
                          <!-- <div class="btn-toolbar mb-3 md-end" role="toolbar" aria-label="Toolbar with button groups">
                            <div class="btn-group me-2 md-end" role="group" aria-label="First group">
                              <button type="button" class="btn btn-outline-secondary ">1</button>
                              <button type="button" class="btn btn-outline-secondary ">2</button>
                              <button type="button" class="btn btn-outline-secondary ">3</button>
                              <button type="button" class="btn btn-outline-secondary ">4</button>
                            </div> -->

                    <!-- </div>
                
            </div> -->
        <!-- </div> -->
       <!-- </div> -->


       <!-- <div class="container productList ">
        <div class="row py-4 tableProduct">
          <div class="col-sm-12 col-md-6 col-lg-4 col-xl-2 d-flex">
            <div>
                <th > <span class="badge text-bg-light ">.</span> product <i class="fa fa-caret-down" style="font-size: 15px;display: inline;" aria-hidden="true"></i></th> 
                <td>Hande pouch</td>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4 col-xl-2">
            <div>
                <th>sku</th>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4 col-xl-2">
            <div>
                <th>catagory</th> 
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4 col-xl-2">
            <div>
                <th>stock  <i class="fa fa-caret-down" style="font-size: 15px;display: inline;" aria-hidden="true"></i></th>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4 col-xl-1">
            <div>
                <th>price <i class="fa fa-caret-down" style="font-size: 15px;display: inline;" aria-hidden="true"></i></th>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4 col-xl-1">
            <div>
                <th>status <i class="fa fa-caret-down" style="font-size: 15px;display: inline;" aria-hidden="true"></i></th>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4 col-xl-1">
            <div>
                <th>Added <i class="fa fa-caret-down" style="font-size: 15px;display: inline;" aria-hidden="true"></i></th>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4 col-xl-1">
            <th>Action</th>
            
          </div>
        </div>

        <div class="row py-4">
          <div class="col-sm-12 col-md-6 col-lg-4 col-xl-2">
            <div>
                <td>Hande pouch</td>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4 col-xl-2">
            <div>
                <td class="table">302012</td> 
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4 col-xl-2">
            <div>
                <td>Bag & pouch</td>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4 col-xl-2">
            <div>
                <td>10</td>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4 col-xl-1">
            <div>
                <td>$121.00</td>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4 col-xl-1">
            <div>
                <td class="table2">Low stock</td> 
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4 col-xl-1">
            <div>
                <td>29 Dec 2022</td> 
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4 col-xl-1">
            <div>
                <td> --------</td>
            </div> 
          </div>
      </div>
      <div class="row py-4">
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-2">
          <div>
              <td>Hande pouch</td>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-2">
          <div>
              <td class="table">302012</td> 
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-2">
          <div>
              <td>Bag & pouch</td>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-2">
          <div>
              <td>10</td>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-1">
          <div>
              <td>$121.00</td>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-1">
          <div>
              <td class="table2">Low stock</td> 
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-1">
          <div>
              <td>29 Dec 2022</td> 
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-1">
          <div>
              <td> --------</td>
          </div> 
        </div>
    </div>
    </div> -->

    
    <!-- <div class="container ">
        <div class="row py-4 tableProduct">
          <div class=" col-md-6 col-lg-4  ">
            <div class="productLis">
                   <th>
                     <span class="badge text-bg-light ">.</span> 
                     product 
                     <i class="fa fa-caret-down" style="font-size: 15px;display: inline;" aria-hidden="true"></i>
                    </th> 
                <td>Hande pouch</td>
            </div>
         </div>
        </div>
     </div> -->
     <!-- <div class="container ">
        <div class="row py-4 tableProduct">
          <div class=" col-md-12 col-lg-6 bg-danger  col-sm-12">
            <div class="productLis bg-secondary">
                   <h2>
                     <span class="badge text-bg-light ">.</span> 
                     product 
                     <i class="fa fa-caret-down" style="font-size: 15px;display: inline;" aria-hidden="true"></i>
                   </h2> 
                <h5>Hande pouch</h5>
                  <h5>smartwacmh E2</h5>
                  <h5>Smartwacmh E1</h5>
                  <h5>Headphone G1 pro</h5>
                  <h5>Iphone x</h5>
                  <h5>Puma Shoes</h5>
                  <h5>Imc 2021</h5>
                  <h5>Nike Shoes</h5>
                  <h5>Lego Car</h5>
                  <h5>Skincare Alia </h5>
 
            </div>
         </div>
        </div>
     </div> -->
<!-- 
     <div class="container ">
        <div class="row py-4 tableProduct d-flex align-items-center bg-danger " >
          <div class=" col-md-1 col-lg-6">
            <div class="productLis bg-secondary">
                   <h2>
                     <span class="badge text-bg-light ">.</span> 
                     product 
                     <i class="fa fa-caret-down" style="font-size: 15px;display: inline;" aria-hidden="true"></i>
                   </h2> 
                <h5>Hande pouch</h5>
                  <h5>smartwacmh E2</h5>
                  <h5>Smartwacmh E1</h5>
                  <h5>Headphone G1 pro</h5>
                  <h5>Iphone x</h5>
                  <h5>Puma Shoes</h5>
                  <h5>Imc 2021</h5>
                  <h5>Nike Shoes</h5>
                  <h5>Lego Car</h5>
                  <h5>Skincare Alia </h5>
 
            </div>
         </div>
        </div>
     </div> -->

       




      
            <div class="container ">
                <div class="row row-cols-12 py-4">
                  <div class="col-md-12 col-lg-3 py-2">
                    <div class="productLis ">
                        <h2 class="infrom">
                          <span class="badge text-bg-light ">.</span> 
                          product 
                          <i class="fa fa-caret-down" style="font-size: 15px;display: inline;" aria-hidden="true"></i>
                        </h2> 
                     <h5>Hande pouch</h5>
                       <h5>smartwacmh E2</h5>
                       <h5>Smartwacmh E1</h5>
                       <h5>Headphone G1 pro</h5>
                       <h5>Iphone x</h5>
                       <h5>Puma Shoes</h5>
                       <h5>Imc 2021</h5>
                       <h5>Nike Shoes</h5>
                       <h5>Lego Car</h5>
                       <h5>Skincare Alia </h5>
      
                 </div>
                  </div>
                  <div class="col  py-2">
                    <div class="productLis ">
                        <h2 class="infrom">
                            sku
                        </h2> 
                        <div class="table">
                       <h5>302012</h5>
                       <h5>302011</h5>
                       <h5>302002</h5>
                       <h5>301901</h5>
                       <h5>301900</h5>
                       <h5>301881</h5>
                       <h5>301643</h5>
                       <h5>301600</h5>
                       <h5>301555</h5>
                       <h5>301002 </h5>
                       </div>
      
                 </div>
                  </div>
                  <div class="col  py-2">
                    <div class="productLis ">
                        <h2 class="infrom" >
                            
                          
                          Category
                        
                        </h2> 
                     <h5>Bag & Pouch</h5>
                       <h5>Watch</h5>
                       <h5>Watch</h5>
                       <h5>Audio</h5>
                       <h5>Smartphone</h5>
                       <h5>Shoes </h5>
                       <h5>PC Desktop</h5>
                       <h5>Shoes </h5>
                       <h5>Toy</h5>
                       <h5>Beauty</h5>
      
                 </div>
                  </div>
                  <div class="col  py-2">
                    <div class="productLis ">
                        <h2 class="infrom">
                        
                          Stock
                          <i class="fa fa-caret-down" style="font-size: 15px;display: inline;" aria-hidden="true"></i>
                        </h2> 
                        <h5>10</h5>
                        <h5>204</h5>
                        <h5>48</h5>
                        <h5>401</h5>
                        <h5>120</h5>
                        <h5>432</h5>
                        <h5>0</h5>
                        <h5>347</h5>
                        <h5>299</h5>
                        <h5>38 </h5>
      
                 </div>
                  </div>
                  <div class="col  py-2">
                    <div class="productLis ">
                        <h2 class="infrom">
                         
                            Price
                          <i class="fa fa-caret-down" style="font-size: 15px;display: inline;" aria-hidden="true"></i>
                        </h2> 
                        <h5>$121.00</h5>
                        <h5>$590.00</h5>
                        <h5>$125.00</h5>
                        <h5>$348.00</h5>
                        <h5>$607.00</h5>
                        <h5>$234.00</h5>
                        <h5>$760.00</h5>
                        <h5>$400.00</h5>
                        <h5>$812.00</h5>
                        <h5>$123.00 </h5>
      
                 </div>
                  </div>
                  <div class="col py-2">
                    <div class="productLis ">
                        <h2 class="infrom">
                         
                            Status
                          <i class="fa fa-caret-down" style="font-size: 15px;display: inline;" aria-hidden="true"></i>
                        </h2> 
                        <h5 class="table2">Low Stock</h5>
                        <h5 class="tableIcon">Publish</h5>
                        <h5 class="data5"> Draft</h5>
                        <h5 class="tableIcon">Publish</h5>
                        <h5 class="tableIcon">Publish</h5>
                        <h5 class="tableIcon">Publish</h5>
                        <h5 class="data2">Qut of Stock</h5>
                        <h5 class="tableIcon">Publish</h5>
                        <h5 class="tableIcon">Publish</h5>
                        <h5 class="data5">Draft</h5>
       
      
                 </div>
                  </div>
                  <div class="col py-2">
                    <div class="productLis ">
                        <h2 class="infrom">
                       
                          Added
                          <i class="fa fa-caret-down" style="font-size: 15px;display: inline;" aria-hidden="true"></i>
                        </h2> 
                       <h5>29 Dec 2022</h5>
                       <h5>24 Dec 2022</h5>
                       <h5>12 Dec 2022</h5>
                       <h5>21 Oct 2022</h5>
                       <h5>21 Oct 2022</h5>
                       <h5>21 Oct 2022</h5>
                       <h5>19 Sep 2022</h5>
                       <h5>19 Sep 2022</h5>
                       <h5>19 Sep 2022</h5>
                       <h5>10 Aug 2022</h5>
      
                 </div>
                  </div>
                  <div class="col  py-2">
                    <div class="productLis ">
                        <h2 class="infrom">
                         
                          Action
                          <i class="fa fa-caret-down" style="font-size: 15px;display: inline;" aria-hidden="true"></i>
                        </h2> 
                       <h5>-----</h5>
                       <h5>-----</h5>
                       <h5>-----</h5>
                       <h5>-----</h5>
                       <h5>-----</h5>
                       <h5>-----</h5>
                       <h5>-----</h5>
                       <h5>-----</h5>
                       <h5>------</h5>
                       <h5>------</h5>
      
                 </div>
                  </div>
                </div>
                <div class="d-flex justify-content-between align-items-center form ">
                    <h5>Showing 1-10 from 100</h5>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <nav aria-label="Page navigation example" >
                        <ul class="pagination ">
                          <li class="page-item ">
                            <a class="page-link" href="#" aria-label="Previous">
                              <span aria-hidden="true">&laquo;</span>
                            </a>
                          </li>
                          <li class="page-item"><a class="page-link" href="#">1</a></li>
                          <li class="page-item"><a class="page-link" href="#">2</a></li>
                          <li class="page-item"><a class="page-link" href="#">3</a></li>
                          <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                              <span aria-hidden="true">&raquo;</span>
                            </a>
                          </li>
                        </ul>
                      </nav>
                </div>
                </div>
              </div>



